<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'web_ticket/ticket_style.css') }}">
    <title>Boleto</title>
</head>
<body>
    <div id="ticket">
        <div id="circle"></div>
        <img src="{{ url_for('static', filename = 'web_ticket/logo.png') }}" id="logo" alt="Logo de flecha amarilla">
        <p>{{ ticket.passenger_name }}</p>
        <p>Categoría: {{ ticket.category }}</p>
        <div class="inline">
            <div id="origin">
                <p class="subtitle">origen:</p>
                <p>{{ ticket.trip.origin }}</p>
            </div>
            <img src="{{ url_for('static', filename = 'web_ticket/flecha.png') }}" alt="Flecha">
            <div id="destination">
                <p class="subtitle">destino:</p>
                <p>{{ ticket.trip.destination }}</p>
            </div>
        </div>
        <div class="inline">
            <p>Hora: {{ ticket.trip.hour }}</p>
            <p class="subtitle">{{ ticket.trip.time }}</p>
        </div>
        <div class="inline">
            <p>Fecha: {{ ticket.trip.date }}</p>
            <p class="subtitle">{{ ticket.trip.day }}</p>
        </div>
        <div class="inline">
            <p>Asiento: </p>
            <p class="strong">{{ ticket.seat_number }}</p>
        </div>
        <div class="inline">
            <p>Carril: </p>
            <p class="strong">{{ ticket.trip.boarding_gate }}</p>
        </div>
        <p id="status">{{ ticket.status }}</p><br>
        <img src="{{ ticket.qr_url }}" alt="qr" id="qr">
        <p>Servicio: {{ ticket.service_number }}</p>
        <p>Operación: {{ ticket.operation_number }}</p>
        <p>Total: $ {{ ticket.total_payment }}</p>
        <p>Método de pago: {{ ticket.payment_method }}</p>
        <p>Token de facturación: {{ ticket.billing_token }}</p>
        <a href="{{ ticket.wallet_url }}" target="_blank"><img src="{{ url_for('static', filename = 'web_ticket/esES_add_to_google_wallet_add-wallet-badge.svg') }}" id="wallet"></a>
        <br>
        <p class="small">En caso de tener algun problema, comunícate al numero (+52) 123 456 78 90</p>
        <p class="small">Consulte el siguiente link para ver <a href="https://www.google.com/" target="_blank">terminos y condiciones</a></p>
    </div>
    <script src = "{{ url_for('static', filename = 'web_ticket/main.js') }}"></script>
    <script>
        main("{{ url }}");
    </script>
</body>
</html>